<form action="{{ action_url }}" method="post">
   {% if errors %}
	<font color="red">{{ errors|raw }}</font>
	{% endif %}
   <p>
      <label for="from">From: </label><br />
      <input type="text" name="from" value="{{ letter.from }}" id="from" class="longinput"/>
   </p>
   <p>
      <label for="to">To: </label><br />
      <input type="text" name="to" value="{{ letter.to }}" id="to" class="longinput"/>
   </p> 
   <p>
      <label for="content">Content: </label><br />
      <textarea name="content" id="content" class="ckeditor" rows="10" cols="20">{{ letter.content }}</textarea>
   </p>
   <p>
		<label>Comments:</label><br />
		<input type="radio" name="comments" value="1" id="comments_on" {% if letter.comments == "1" %}checked{% endif %}><label for="comments_on">On</label>
		<input type="radio" name="comments" value="0" id="comments_off" {% if letter.comments == "0" %}checked{% endif %}><label for="comments_off">Off</label>
   </p>
   <p>
      <center><input type="submit" value="{{ action_name }} Letter" /></center>
   </p>
</form>
</div>
