<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"> 
	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
		<title>{% block page_title %} {% endblock %}</title>
		<!--[if gte IE 7]><!--> 
		<link rel="stylesheet" href="{{ asset_url }}style/style.css" type="text/css" media="screen" charset="utf-8" /> 
		<!-- <![endif]--> 
 
		<!--[if IE 7]>
		<link rel="stylesheet" href="{{ asset_url }}style/style_ie.css" type="text/css" media="screen" charset="utf-8" />
		<![endif]--> 
 
		<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}style/styles_ie6.css" />
		<![endif]--> 
	</head>
	<body>
		<div id="siteWrapper"> 
			<h1 class="vcard author"><a href="{{ base_url }}" title="My Open Letter" class="fn">My Open Letter</a></h1> 
			{% block content %} {% endblock %}
		</div>
		<div id="footer"> 
			<ul class="elsewhere"> 
				<li><a href="{{ base_url }}latest">Latest Letters</a></li> 
				<li><a href="{{ base_url }}explore">Random</a></li> 
				<li><a href="{{ base_url }}tos">Terms of Service</a></li> 
				<li><a href="{{ base_url }}about">About</a></li>
			</ul> 
			<div class="footerContent"> 
				<p>&copy; MyOpenLetter. Template thanks to <a href="http://jimbarraud.com/manifest/">Manifest</a></p>
			</div> 
		</div>
	</body> 
{% block ckeditor %} {% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22449104-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>
